body {
   background-image: url("../images/sun-pattern.png");
   background-repeat: repeat;
}

.image-on-page {
  display: inline;
  margin: auto;
  border: 5px solid blue;
  padding: 5%;
}

.wrapper {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
}

.a {
  width:50%;
  box-sizing: border-box;
}

.b{
  width:50%;
  box-sizing: border-box;
}
